In [1]:
'Exercise 1, page 8
print ('Hello World!')

Hello World!

In [28]:
'Exercise 2, Page 13
mystring = "Hello"
myfloat = 10.0
myint = 20

if mystring == "Hello":
    print ("My Sting is:")
    print (mystring)

if myfloat == 10.0:
    print ("My Float is:")
    print (myfloat)

if myint == 20:
    print("My Int is:")
    print (myint)

My Sting is:
Hello
My Float is:
10.0
My Int is:
20

In [33]:
'Exercise 3, Page 16
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

numbers.append(1)
numbers.append(2)
numbers.append(3)
strings.append("Hello")
strings.append("World")
second_name = names[2]

print("The second name on the list is:" + second_name)

The second name on the list is:Jessica

In [44]:
'Exercise 4, Page 22
x = object()
y = object()

x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

if x_list.count(x) == 10 and y_list.count(y) == 10:
    print ("Almost There...")

if big_list.count(x) == 10 and big_list.count(y) == 10:
    print ("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost There...
Great!

In [72]:
'Exercise 5, Page 26
data =("John","Doe", 53.44)
format_string = ("Hello,%s" % data[0]+ " "+data[1])+ " "+("Your balance is:$%.2f" % data[2])

print (format_string)

Hello,John Doe Your balance is:$53.44

In [97]:
'Exercise 6, Page 32
s= "I need to type out twenty characters"
print(("length of s = %d") % len(s))
print("The first occurence of the letter a = %d" % s.index("a"))
print("a occurs %d times" % s.count("a"))
print(("The first 5 characters are %s" % s[:5]))
print(("The next 5 characters are %s" % s[5:10]))
print(("The 13th character is %s" % s[12]))
print(("characters with odd indexing are %s" % s[1:2]))
print(("The last 5 characters are %s" % s[-5:]))
print("string in uppercase: %s" % s.upper())
print("string in lowercase: %s" % s.lower())
if s.startswith("I need"):
    print ("String starts with 'I need'")

if s.endswith("characters"):
    print ("String ends with 'characters'")

length of s = 36
The first occurence of the letter a = 28
a occurs 2 times
The first 5 characters are I nee
The next 5 characters are d to
The 13th character is p
characters with odd indexing are
The last 5 characters are cters
string in uppercase: I NEED TO TYPE OUT TWENTY CHARACTERS
string in lowercase: i need to type out twenty characters
String starts with 'I need'
String ends with 'characters'

In [1]:
'Exercise 7, Page 40
number = 16
second_number = 10
first_array = [1,2,3]
second_array =[1,2,]
if number > 15:
    print (1)

if first_array:
    print("2")

if len(second_array) == 2:
    print("3") 

if len(first_array) + len(second_array) == 5:
    print ("4")

if first_array and first_array[0] == 1:
    print("5")

if not  second_number:
    print("6")

<class 'SyntaxError'>: invalid syntax (<ipython-input-1-96eb44947214>, line 20)

In [128]:
'Exercise 8, Page 47
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980,
    507, 725, 547, 544, 615, 83, 165, 141, 501, 263, 617,
    865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386,
    462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978,
    328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412,
    566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219,
    918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687,
    217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81,
    379, 843, 831, 445, 742, 717, 958, 609, 842, 451, 688,
    753, 854, 685,  93, 857, 440, 380, 126, 721, 328, 753,
    854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

for x in numbers:
    print (x)
    if x == 237:
        break

951
402
984
651
360
69
408
319
601
485
980
507
725
547
544
615
83
165
141
501
263
617
865
575
219
390
984
592
236
105
942
941
386
462
47
418
907
344
236
375
823
566
597
978
328
615
953
345
399
162
758
219
918
237